<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/javastudy/workspace_front/mysite/assets/css/mysite.css">
<link rel="stylesheet" href="/javastudy/workspace_front/mysite/assets/css/board.css">

</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		<ul class="clearfix"> 
			<li>
				<a href="">로그인</a>
			</li>
			<li>
				<a href="">회원가입</a>
			</li>
		</ul>
	</div>
	<!-- header -->
	
	
	<div id="nav" class="clearfix">
		<ul class="clearfix">
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>
	<!-- nav -->
	
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
		
			<ul>
				<li><a href="">일반게시판</a></li>
				<li><a href="">댓글게시판</a></li>
				<li><a href="">첨부게시판</a></li>
			</ul>
		
		</div>
		<!-- aside -->

		<div id="main-content">
			<div id="main-content-header" class="clearfix">
				<h3>일반게시판</h3>
				<ol>
					<li><a href="">홈</a></li>
					<li><a href="">게시판</a></li>
					<li class="none"><a href="">일반게시판</a></li>
				</ol>

			</div>
			<div id="main-content-board">
				<input id="txt-search" type="text" value="">	
				<table id="main-content-boarder">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>조회수</th>
							<th>작성일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbb</td>
							<td>ccccc</td>
							<td>dddddddd</td>
							<td>dddddddd</td>
							<td><input type="button">삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbb</td>
							<td>ccccc</td>
							<td>dddddddd</td>
							<td>dddddddd</td>
							<td><input type="button">삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbb</td>
							<td>ccccc</td>
							<td>dddddddd</td>
							<td>dddddddd</td>
							<td><input type="button">삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbb</td>
							<td>ccccc</td>
							<td>dddddddd</td>
							<td>dddddddd</td>
							<td><input type="button">삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbb</td>
							<td>ccccc</td>
							<td>dddddddd</td>
							<td>dddddddd</td>
							<td><input type="button">삭제</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div>
							
			</div>
			<!-- board -->
		
		</div>
		<!-- main-content -->
	</div>
	<div id="footer">
		<div>Copyright ⓒ 2020 황일영, All right reserved</div>
	</div>
	<!-- footer -->
</div>
<!-- wrap -->
</body>
</html>